.center {
  padding: 70px 0;
  border: 6px solid green;
  text-align: center;
  margin: 50px;
}

.button {
  background-color: #4CAF50;
  color: #ffffff;
  border-color: #4CAF50;
  padding: 20px;
}

.rules{
  text-align: left;
  padding-left: 700px;
}
.table{
  align-self: center;
  margin: auto;
}

.navibar{
  padding: 500;
}