<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="./static/css/normalize.css">

    </head>
    <body>

        <div class="center">
            <h2>Scrape this yellow pages search URL</h2>
            <form action = "http://localhost:5000/result" method = "POST">
               <p>Name <input type = "text" name = "Name" /></p>
               <p><input type = "submit" value = "submit" /></p>
            </form>
        </div>
    </body>
</html>
