<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="./static/css/normalize.css">
</head>
<body>
    <div class="center">

        <form action="/sign-up" method="POST">
            <div class="form-group">
            <label>YellowPages search url from the address bar</label><br><br>
            <input type="text" class="form-control" id="username" name="username" placeholder="url from yellow pages"><br><br>
            </div>
            <button type="submit" class="btn btn-primary">Scrape</button>
        </form>
    </div>
</body>